<footer class="m-0 bg-dark">
  <div class="row text-center p-0 m-0">
    <div class="col-sm py-3">
      <a href="//www.ulpgc.es">
        <img src="assets/images/logos/ulpgc.png" height="35" alt="ULPGC logo">
      </a>
    </div>
    <div class="col-sm py-3">
      <a href="//www.itccanarias.org">
        <img src="assets/images/logos/itc.png" height="35" alt="ITC logo">
      </a>
    </div>
    <div class="col-sm py-3">
      <a href="//www.jardincanario.org">
        <img src="assets/images/logos/jbcvc.png" height="35" alt="JBCVC logo">
      </a>
    </div>
  </div>
</footer>
