<form class="jumbotron p-4" [formGroup]="form">
  <div id="browser" class="input-group mb-3">
    <div class="input-group-prepend">
      <select class="custom-select" formControlName="type">
        <option value="biodatabase">Collection</option>
        <option value="bioentry">Sequence</option>
        <option value="taxon">Taxon</option>
      </select>
    </div>
    <input class="form-control" type="search" formControlName="search" placeholder="Search in the system ..." size="30">
    <div class="input-group-append">
      <button class="btn btn-outline-success" type="button" (click)="search()">Search</button>
    </div>
  </div>

  <div class="form-row">
    <div id="page_size" class="input-group col">
      <div class="input-group-prepend">
        <span class="input-group-text" for="page_size">Page size</span>
      </div>
      <select class="custom-select" formControlName="page_size">
        <option value=10>10</option>
        <option value=25>25</option>
        <option value=50>50</option>
        <option value=100>100</option>
      </select>
    </div>

    <div id="download" class="input-group col">
      <div class="input-group-prepend">
        <span class="input-group-text" for="format">Format to export</span>
      </div>
      <select class="custom-select" [formControl]="format">
        <option value="fasta">FASTA</option>
        <option value="gb">GenBank</option>
        <option value="embl">EBML</option>
        <option value="seqxml">XML</option>
      </select>
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary" (click)="export()">Download</button>
      </div>
    </div>
  </div>
</form>
