<form [formGroup]="form">
  <section class="form">
    <h1>Biodatabase Manager</h1>
    <p>Required fields are followed by <strong><abbr title="required">*</abbr></strong>.</p>
    <p>
      <label for="name">
        <span>Name: </span>
        <div class="tooltip">
          <strong><abbr title="required">*</abbr></strong>
          <span class="tooltiptext">This field is required.</span></div>
      </label>
      <input id="name" type="text" formControlName="name" value="" required>
    </p>
    <p>
      <label for="authority"><span>Authority: </span></label>
      <input id="authority" type="text" formControlName="authority" value="">
    </p>
    <p>
      <label for="description"><span>Description: </span></label>
      <textarea id="description" formControlName="description" rows="8" cols="80"></textarea>
    </p>
    <p>
      <button type="button" (click)="createBiodb()" [disabled]="!form.valid">
        Create new biodatabase</button>
      <button type="button" (click)="updateBiodb()" [disabled]="selectedIndex<0">
        Update existing biodatabase</button>
    </p>
  </section>

  <div class="drop-left clickable" (click)='showBiodbList()'>
    <h1><</h1>
    <h2 class="vertical-text">Biodatabases</h2>
    <h1><</h1>
  </div>
  <div id="biodbTable">
    <table>
      <thead>
        <tr>
          <th width="20%">Name</th>
          <th width="20%">Authority</th>
          <th width="50%">Description</th>
          <th width="10%">Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of biodbList; index as rowIndex;" class="clickable" (click)="selectBiodb(rowIndex)">
          <td width="20%">{{ i.name }}</td>
          <td width="20%">{{ i.authority }}</td>
          <td width="50%">{{ i.description }}</td>
          <td width="10%">
            <button type="button" (click)="removeBiodb(rowIndex)">X</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
