<div class="modal fade" id="formDialog" tabindex="-1" role="dialog">
  <biodatabase-form (submit)="formSubmitted($event)"></biodatabase-form>
</div>
<div class="container text-center">
  <h1 class="mb-4">Biodatabase Manager
    <button type="button" class="btn btn-success" (click)="selectBiodb(-1)" data-toggle="modal" data-target="#formDialog">Create new collection</button>
  </h1>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Sequences</th>
          <th scope="col">Name</th>
          <th scope="col">Authority</th>
          <th scope="col">Description</th>
          <th scope="col">Edit</th>
          <th scope="col">Remove</th>
        </tr>
      </thead>
      <tbody class="text-left">
        <tr *ngFor="let i of biodbList; index as rowIndex;">
          <td class="text-center">{{ i.count }}</td>
          <th scope="row">{{ i.name }}</th>
          <td>{{ i.authority }}</td>
          <td class="overflow-auto">{{ i.description }}</td>
          <td>
            <button type="button" class="btn btn-success" (click)="selectBiodb(rowIndex)" data-toggle="modal" data-target="#formDialog">Edit</button>
          </td>
          <td>
            <button type="button" class="btn btn-success" (click)="removeBiodb(rowIndex)">
              <img src="assets/images/icons/trash.png" alt="trash-icon" height="20">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
