<p>consulting {{type}}:{{id}} works!</p>


<div *ngIf="type=='bioentry'">
  <div class="information">
    <p *ngFor="let i of entity">{{i.key}}: {{i.value}}</p>
  </div>
  <div class="related">

  </div>
  <h2>Sequences related with this bioentry.</h2>
</div>

<div *ngIf="type=='biodatabase'">
  <div class="information">
    <p *ngFor="let i of entity">{{i.key}}: {{i.value}}</p>
  </div>
  <div class="related">

  </div>
  <h2>Sequences related with this biodatabase.</h2>
</div>

<div *ngIf="type=='taxon'">
  <div class="information">
    <p *ngFor="let i of entity">{{i.key}}: {{i.value}}</p>
  </div>
  <div class="related">

  </div>
  <h2>Sequences related with this taxon.</h2>
</div>
