
<div *ngIf="type=='biodatabase'">
    <a [routerLink]="['/biodatabase/'+data.biodatabase_id]">
      <div>
        <h3>Name: {{data.name}}</h3>
        <p>Authority: {{data.authority}}</p>
        <p>Description: {{data.description}}</p>
      </div>
    </a>
</div>

<div *ngIf="type=='bioentry'">
    <a [routerLink]="['/bioentry/'+data.bioentry_id]">
      <div>
        <h3>Accession: {{data.accession}}</h3>
        <p>Description: {{data.description}}</p>
      </div>
    </a>
</div>

<div *ngIf="type=='taxon'">
    <a [routerLink]="['/taxon/'+data.taxon_id]">
      <div>
        <h3>Name: {{data.name}}</h3>
        <p>Class: {{data.name_class}}</p>
      </div>
    </a>
</div>
