<form class="jumbotron py-4" (ngSubmit)="onSubmit()">
  <h1>Form to insert into the database</h1>

  <div class="input-group my-3">
    <div class="input-group-prepend">
      <label class="input-group-text">Collection to store the data</label>
    </div>
    <select class="custom-select" [formControl]="biodb">
      <option value=-1>Choose...</option>
      <option *ngFor="let i of biodbList; index as rowIndex;" value={{rowIndex}}>{{i.name}}</option>
    </select>
    <div class="input-group-append">
      <button type="submit" class="btn btn-success" [disabled]="fileList.length<1 || biodb.value<0 || uploading">Upload selected files</button>
    </div>
  </div>

  <div class="dropdown">
    <button class="btn btn-light dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Detailed information of the collections
    </button>
    <div class="table-responsive dropdown-menu" aria-labelledby="dropdownMenuButton">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th>Selected</th>
            <th>Name</th>
            <th>Authority</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of biodbList; index as rowIndex;" (click)="updateRadio(rowIndex)">
            <td>
              <input type="radio" name="biodb" [checked]="biodb.value==rowIndex">
            </td>
            <td>{{ i.name }}</td>
            <td>{{ i.authority }}</td>
            <td>{{ i.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div [hidden]="!uploading" class="container text-center my-5">
    <progress></progress>
  </div>

  <div class="container my-5 w-75 text-center">
    <div id="dropbox" class="dropbox" (mydrop)="dropHandler($event)">
      <img src="assets/images/icons/export.png"class="vert-move" height="50"><br>
      <div class="form-group">
        <div class="w-75 custom-file">
          <input type="file" id="custom-file" class="custom-file-input btn" (change)="updateFileList($event)" multiple>
          <label class="custom-file-label btn" for="custom-file">Choose a file or drag it here.</label>
        </div>
      </div>
    </div>

    <table class="table">
      <tbody>
        <tr *ngFor="let f of fileList; index as rowIndex;">
          <td>{{ f.name }}</td>
          <td>
            <button type="button" class="btn btn-outline-success" (click)="removeFile(rowIndex)">x</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</form>
